@model IEnumerable<string>
@(Layout = null)

@if (ViewBag.ErrorMessage != null)
{
    <span class="text-danger"><strong>@ViewBag.ErrorMessage</strong></span><br />
}
else
{
    @:&gt;
    <span class="explore-command-text">@ViewBag.CommandText</span><br />
    <br />
    @foreach (string st in Model)
    {
        @st<br />
    }
}
<br />