<div id="dialog-confirm-delete" title="Please Confirm Delete Action">
    <table style="border: none;">
        <tr>
            <td>
                <span class="ui-icon ui-icon-alert" style="float:left;margin:12px 12px 20px 0;"></span>
            </td>
            <td>
                <div>
                    Please confirm that you want to delete this item:
                    <br />
                    <br />
                    <span id="dialog-confirm-delete-text"></span>
                </div>
            </td>
        </tr>
    </table>
</div>
